.form {
  display: flex;
  gap: 10px;
  padding: 20px;
  background: black;
}

.input {
  flex: 1;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-family: "Mallanna", sans-serif;
  font-size: 16px;
}

.input:focus {
  border-color: #bbb;
}

.button {
  font-family: "Mallanna", sans-serif;
  padding: 10px 14px;
  border-radius: 8px;
  background: #222;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  min-width: 120px;
  justify-content: center;
  transition: opacity 0.2s ease;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button svg {
  margin-right: 6px;
  font-size: 16px;
  font-weight: 600;
}